In [1]:
import pickle

In [5]:
import pandas as pd

In [24]:
from sklearn.preprocessing import LabelEncoder

In [3]:
filename = 'Big_mart_model.sav'

In [4]:
loaded_model = pickle.load(open(filename, 'rb'))

In [6]:
sales_test=pd.read_csv("BigMart_Test.csv")

In [12]:
sales_test.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [10]:
sales_test.columns

Index(['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type',
       'Item_MRP', 'Outlet_Identifier', 'Outlet_Establishment_Year',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [17]:
sales_test_new=sales_test.dropna(how="any")

In [19]:
sales_test_new.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [20]:
sales_test_new.shape

(3099, 10)

In [13]:
sales_test.shape

(5681, 10)

In [23]:
sales_test_new

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
5,9.800,Regular,0.063817,Fruits and Vegetables,117.1492,OUT046,1997,Small,Tier 1,Supermarket Type1
6,19.350,Regular,0.082602,Baking Goods,50.1034,OUT018,2009,Medium,Tier 3,Supermarket Type2
13,4.785,Low Fat,0.092738,Breads,122.3098,OUT049,1999,Medium,Tier 1,Supermarket Type1
14,16.750,LF,0.021206,Hard Drinks,52.0298,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...
5673,7.070,Low Fat,0.094053,Snack Foods,116.0834,OUT018,2009,Medium,Tier 3,Supermarket Type2
5674,15.700,Low Fat,0.030704,Hard Drinks,43.2770,OUT046,1997,Small,Tier 1,Supermarket Type1
5675,13.000,Regular,0.070411,Snack Foods,63.4484,OUT049,1999,Medium,Tier 1,Supermarket Type1
5676,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2

In [25]:
encoder = LabelEncoder()

In [27]:


sales_test_new['Item_Fat_Content'] = encoder.fit_transform(sales_test_new['Item_Fat_Content'])

sales_test_new['Item_Type'] = encoder.fit_transform(sales_test_new['Item_Type'])

sales_test_new['Outlet_Identifier'] = encoder.fit_transform(sales_test_new['Outlet_Identifier'])

sales_test_new['Outlet_Size'] = encoder.fit_transform(sales_test_new['Outlet_Size'])

sales_test_new['Outlet_Location_Type'] = encoder.fit_transform(sales_test_new['Outlet_Location_Type'])

sales_test_new['Outlet_Type'] = encoder.fit_transform(sales_test_new['Outlet_Type'])

C:\Users\Chenali\AppData\Local\Temp\ipykernel_13484\2727660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_test_new['Item_Fat_Content'] = encoder.fit_transform(sales_test_new['Item_Fat_Content'])
C:\Users\Chenali\AppData\Local\Temp\ipykernel_13484\2727660.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_test_new['Item_Type'] = encoder.fit_transform(sales_test_new['Item_Type'])
C:\Users\Chenali\AppData\Local\Temp\ipykernel_13484\2727660.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_test_new['Outlet_Identifier'] = encoder.fit_transform(sales_test_new['Outlet_Identifier'])
C:\Users\Chenali\AppData\Local\Temp\ipykernel_13484\2727660.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_test_new['Outlet_Size'] = encoder.fit_transform(sales_test_new['Outlet_Size'])
C:\Users\Chenali\AppData\Local\Temp\ipykernel_13484\2727660.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_test_new['Outlet_Location_Type'] = encoder.fit_transform(sales_test_new['Outlet_Location_Type'])
C:\Users\Chenali\AppData\Local\Temp\ipykernel_13484\2727660.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_test_new['Outlet_Type'] = encoder.fit_transform(sales_test_new['Outlet_Type'])

In [29]:
predict_values=loaded_model.predict(sales_test_new)

In [30]:
predict_values[:10]

array([ -73.02135 ,  220.77194 ,  417.9864  ,  810.2903  ,   45.663017,
        596.32874 , 2947.6077  ,  182.52534 ,  107.74895 ,   73.40094 ],
      dtype=float32)

In [ ]:
9.300000	0	0.016047	4	249.8092	9	1999	1	0	1